* {
    background-color: aquamarine;
}

/* .container {
    background-color: aquamarine;
} */

/* .container > textarea {
    background-color: rgb(178, 211, 101);
    border-radius: 5px;
} */

/* #listen {
    background-color: darkslategray;
    color: wheat;
    border-radius: 4px;
} */

/* #resume {
    background-color: green;
    color: wheat;
    border-radius: 4px;
} */

/* #stop {
    background-color: red;
    color: black;
    border-radius: 4px;
} */


/* #pause {
    background-color: yellow;
    color: black;
    border-radius: 4px;
} */